# Logs
logs
*.log

pyrosm/latestOsm
latestOsm
files*
.venv
*.geojsonl
__pycache__
nigeria-address-ner/*
!*00.pkl

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
