# Core data processing
pandas>=2.0.0
geopandas>=0.14.0
shapely>=2.0.0
#fiona>=1.9.0  # For proper GeoJSONL reading
pyarrow>=12.0.0
tqdm>=4.65.0

# Hugging Face ecosystem
transformers[torch]
datasets>=2.12.0
evaluate>=0.4.0
torch>=2.0.0
#accelerate

# Convert to ONNX
optimum
onnx 
onnxruntime
# optimum[onnxruntime]
optimum[exporters]
# "optimum[onnxruntime]"

# Utilities
numpy>=1.24.0
seqeval>=1.2.2
thefuzz 
requests 
tqdm 
python-dateutil